* {
    margin: 0;
    padding: 0;
}

.hero,
.hero2 {
    width: 100%;
    height: 100vh;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.hero2 {
    background-image: url(./background2.jpg);
}

.titles,
.titles2 {
    position: absolute;
    top: 30%;
    right: 20%;
    text-align: center;
}

.logo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 6vmax;
}

.titles2 {
    top: 10%
}

.motto {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8vmax;
}

.fa-plus {
    color: rgb(3, 218, 3);
}

.fa-minus {
    color: red;
}

.fa-table {
    color: blue;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 42vw;
}

i {
    font-size: 1.7vmax;
}

i.fa-github {
    margin-left: 0.7vw;
    color: black;
    font-size: 1.4vmax
}

.footertext {
    font-size: 1.1vmax;
}

.container-fluid {
    padding: 0 !important;
}

td, th {
    text-align: center !important;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 0.5vmax;
    border: 1px solid gray;
    padding: 0.5vmax 1vmax;
    margin: 1vmax 0 0.1vmax !important;
}

button[type="submit"] {
    width: 80%;
    padding: 0.4vmax;
    margin-top: 1vmax;
}

p.formtext,
p.formtext2 {
    font-size: 1.5vmax;
    margin-bottom: 0.8vmax;
}

p.formtext2 {
    margin-top: 15vmax;
}

.err-msg {
    color: rgb(171, 8, 8);
    font-size: 1.2vmax;
}

.header,
.header1 {
    position: absolute;
    width: 100%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1.5vmax !important;
    padding-top: 1vmax;
}

.fa-user {
    color: black;
}

.navlink {
    color: black;
    padding-left: 2vmax;
    white-space: nowrap;
    font-size: 1.2vmax;
}

.header a,
.header1 a {
    text-decoration: none;
}

a:hover {
    transform: scale(1.05)
}

.fa-house {
    color: black;
}

.inputform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 20vmax !important;
    position: absolute;
    right: 30%;
}

.container-fluid a {
    margin-right: 0.5vmax;
}

.navicons {
    display: flex;
    justify-content: end;
}

.navicon {
    margin-top: 1vmax;
    margin-right: 1vmax;
}

.navicon2 {
    margin-top: 1vmax;
    margin-left: 1vmax;
}

form > button[class="btn btn-outline-dark"] {
    width: 8vmax;
}

select {
    width: 15vmax;
    height: 2.5vmax;
}

.viewlinks {
    display: flex;
    justify-content: space-between;
}

.house3 {
    margin-right: 3.5vmax;
    margin-left: 1vmax;
    margin-top: 1vmax;
}

.house4 {
    margin-left: 1vmax;
    margin-top: 1vmax;
    margin-right: 1vmax;
}

.viewtext {
    margin-top: 1vmax;
    font-weight: bold;
}

.viewicons {
    margin-top: 1vmax;
    margin-right: 1vmax;
    white-space: nowrap;
}

.headertext,
.username,
.password,
.delete {
    margin-top: 2vmax;
    margin-left: 2vmax;
    margin-bottom: 2vmax;
}

.accountform,
.deleteform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.accountbtn,
.delete > form > .btn-danger,
.usernamebtn {
    width: 17.5vmax !important;
}

.usernamechange {
    margin-top: 0.5vmax !important;
    margin-bottom: 1vmax !important;
}

.accountbtn:hover {
    transform: scale(1.02);
}

.alert {
    width : 38vmax;
}